# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = FDIL
	email = fdil.fadilh1@gmail.com
	signingkey = /home/fdil/.ssh/github_sign_key.pub
[core]
	editor = nano
[init]
	defaultBranch = main

[merge]
    conflictstyle = zdiff3
    tool = vscode
[diff]
    algorithm = histogram
    tool = vscode
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[gpg]
	format = ssh
[commit]
	gpgsign = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
